@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components
@using src.Pages;

<PageTitle>src</PageTitle>

<RadzenNotification/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="page" style="background-color: #e5dcce">
    <main>
        <div class="navi" style="margin-bottom: 60px">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li style="float:right"><a class="active" href="/contact">Contact</a></li>
                <button style="float:right" @onclick="settingsClick">Settings</button>
    
                <center>      
                <h1 class="mainTitle" style="color: white; font-size:36px">Word Guesser</h1>  
                </center>

            </ul>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    [CascadingParameter] public IModalService Modal { get; set; }
    public void settingsClick(){
        var options = new ModalOptions() 
        { 
                Animation = ModalAnimation.FadeInOut(1)
        };
        Modal.Show<SettingsModal>("", options);
    }
}