@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components

<PageTitle>src</PageTitle>

<div class="page" style="background-color: rgb(45, 45, 45)">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

