@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components

<PageTitle>src</PageTitle>

<RadzenNotification/>

<div class="page" style="background-color: #e5dcce">
    <main>
        <div class="navi" style="margin-bottom: 60px">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li style="float:right"><a class="active" href="#contact">Contact</a></li>
    
                <center>      
                <h1 style="color: white; font-size:36px">Word Guesser</h1>  
                </center>

            </ul>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

