@page "/contact"



<div class="container-fluid" style="margin-bottom: 22px;" >
    <div class="card-body" style="height:100vh">
        <h class="Title">Dev Emails:</h>
        <div> &nbsp; </div>
        <div class="row">
            <div class="col-md-4 text-nowrap">
                <h2 class="Text">Adrian Surducan: adi.survlad@yahoo.com</h2>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-4 text-nowrap">
                <h2 class="Text">Bodgdan Branisteanu: bogdycityfan@gmail.com</h2>
            </div>  
        </div>
    </div>
</div>
