@page "/game/{NumLettersString}/{LanguageString}"
@using src.Components
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime js



<PageTitle>Index</PageTitle>


<center>
<div class="container-fluid" style="margin-bottom: 22px; margin-top: 35px;"  @onkeydown="KeyboardEventHandler" tabindex="0" @ref="inputDiv" @onblur="lostFocus" >

        <div class="card-body" style=" height:90vh">

            <div class="game-container">
                <div class="grid-container" style="grid-template-columns:repeat(@NumLetters, 80px);">
                    
                    @foreach(Tile tile in tileList){
                            <div class="grid-item">
                                <li style="display: inline-block; margin-right:5px;" > <TileComponent Tile=@tile/> </li>
                        </div>
                        }
                </div>
            </div>

            &nbsp;
            &nbsp;
            
             <div class="keyboard-container">
                <div class="keyboard-grid-container" style="grid-template-columns:repeat(53, 10px);">
                    @*TODO:This could be made nicer*@
                    @foreach(Button button in buttonList){
                        if(button.sId == "A"){
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>     
                        }  else  {
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                        } 

                        <div style="height:60px; width:50px;" @onclick="@(e => ButtonEventHandler(@button.sId))">
                            <ButtonComponent Button=@button/>
                        </div>

                        if(button.sId == "L"){
                            <div style="width: 25px; height:60px;"></div>
                            <div style="width: 25px; height:60px;"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                        } if(button.sId == "enter"){
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>     
                        } else {
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                            <div style="width: 25px; height:60px; margin-left:30px"></div>
                        }
                       
                    }

                </div>
            </div>

        </div> 

</div>
</center>
