@page "/"


<center>
<div class="container-fluid" style="margin-bottom: 22px;" >
    
    &nbsp;
    &nbsp;
    <div class="card-body" style="height:100vh">
        <div class="row">

                <div class="dropdown-container">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable" style="margin-top: 14px;">
                        <a style="color: black; font-size: 20px;">Select Word length:</a>
                        <label>
                            <select style="text-align:center; font-size: 20px;" class="form-control mx-sm-1 form-control-sm custom-select custom-select-sm" ID="dropdown1" @bind=NumLettersString> 
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5" selected>5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="0">Random</option>
                            </select>
                        </label>
                    </div>    
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable" style="margin-top: 14px;">
                        <a style="color: black; font-size: 20px;">Select Language: </a>
                        <label>
                            <select style="text-align:center; font-size: 20px;" class="form-control mx-sm-1 form-control-sm custom-select custom-select-sm" ID="dropdown2" @bind=LanguageString> 
                                <option value="en">English</option>
                                <option value="ro">Română</option>
                            </select>
                        </label>
                    </div>   
                </div>
        
        </div>
        <div> &nbsp; </div>
        <button class="play-button" @onclick="GameRedirect">Play</button>
    </div>
</div>
</center>