.tileTable, th, td {

    color:white;
    text-align: center;
    text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

td {
    height: 80px;
    width:  80px;
    font-size: 40px;
    font-weight: bold;
    border:2px solid gray;
}

@media only screen and (max-width: 700px) {
.tileTable, .td, .tr{
    width: 50px !important;
    height: 50px !important;
    font-size: 10px !important;
}
}